th{background-color:powderblue;}
th{
font-family: "Copperplate", fantasy;
}
th {
text-align:center;
border: 3px solid green;
}
th {
padding: 2px 3px 4px 5px;
}
.palegoldenrod{background-color:palegoldenrod;}
td{background-color:white;}
td{
font-family: "Lucida Console", monospace;
}
td {
text-align:left;
border: 3px solid grey;
}
td {
padding: 1px 1px 1px 1px;
}
h1{background-color:gainsboro;}
h1{
font-family: "Copperplate", fantasy;
}
td{background-color:gainsboro;}

a:link {
color: blue;
}
a:visited {
color: peru;
}
a:active {
color: red;
}
a:hover {
cursor: grabbing;
}